<div ng-controller="PlanController">

<form>
<div class="row">
<div class="col-sm-12">
<div class="form-group row">
    <div class="col-sm-4 offset-sm-4" style="text-align:center;"><label><h2>Equity Plan</h2></label>
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-sm-4 col-form-label">Plan Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="name" placeholder="Plan Name" ng-model="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="beginDate" class="col-sm-4 col-form-label">Begin Date</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="beginDate" placeholder="Begin Date (yyyy-mm-dd)" ng-model="beginDate">
    </div>
  </div>
  <div class="form-group row">
    <label for="expirationDate" class="col-sm-4 col-form-label">Expiration Date</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="expirationDate" placeholder="Expiration Date (yyyy-mm-dd)" ng-model="expirationDate">
    </div>
  </div>
    <div class="form-group row">
    <label for="allocatedShares" class="col-sm-4 col-form-label">Allocated Shares</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="allocatedShares" placeholder="Allocated Shares" ng-model="allocatedShares">
    </div>
  </div>
    <div class="form-group row">
    <div class="col-sm-2 offset-sm-5" style="text-align:center;">
  		<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
    </div>
  </div>

    <div class="form-group row" id="output" ng-show="showOutput===true">
    <div class="col-sm-8 offset-sm-2" style="text-align:center;">
  		{{output}}
    </div>
  </div>
  
  </div>
  </div>
  </form>

</div>
