<div ng-controller="TemplateController">

<form>
<div class="row">
<div class="col-sm-12">
<div class="form-group row">
    <div class="col-sm-6 offset-sm-3" style="text-align:center;"><label><h2>Vesting Template</h2></label>
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-sm-4 col-form-label">Template Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="name" placeholder="Plan Name" ng-model="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="months" class="col-sm-4 col-form-label">Months</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="months" placeholder="Months" ng-model="months">
    </div>
  </div>
  <div class="form-group row">
    <label for="percent" class="col-sm-4 col-form-label">Percent</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="percent" placeholder="Percent" ng-model="percent">
    </div>
  </div>
    <div class="form-group row">
    <label for="vestType" class="col-sm-4 col-form-label">Vest Type</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="vestType" placeholder="vest Type" ng-model="vestType">
    </div>
  </div>
    <div class="form-group row">
    <div class="col-sm-2 offset-sm-5" style="text-align:center;">
  		<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
    </div>
  </div>

    <div class="form-group row" id="output" ng-show="showOutput===true">
    <div class="col-sm-8 offset-sm-2" style="text-align:center;">
  		{{output}}
    </div>
  </div>
  
  </div>
  </div>
  </form>

</div>
